
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body {
    margin: 0;
    
  }
  /*This is the styling for hte construction overlay*/
.overlay{
  position:fixed;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.7);
  z-index: 99;
  height: 100vh;
  width: 100vw;
}

.overlay h1{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 8vh;
  color: white;
}
/**************************************************/
main { 
    background: #fff;
    position: relative;
    border: 1px solid #fff;
    font-family: 'IM Fell French Canon Pro';
    font-size: 1.4rem;
    padding: 2rem 25%;
    line-height: 1.6;
  }
  
  @media all and (max-width: 400px) {
    main { padding: 2rem; }
  }