  body{
    background: linear-gradient(to right, rgba(0,0,0,1.3), rgba(0,0,0,0.05)), url(toolsHeader.png);
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    line-height: 1.45;
    font-size: 18px;
}

.container {
  height: 100vh;
  width: 100vw;
  max-width: 1600px;
  margin:  2rem auto;
  display: grid;
  grid-template-areas:  "header header header header"
                        "main main . right"
                        "footer footer footer footer";
  grid-template-rows: 2fr auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 1em;
  /* grid-gap: 1fr; */
  /* object-fit: cover; */
 
  

}
.container .cell-1{
  outline: 1px solid yellow;
  margin-right: 0;
  grid-area: header;
  /* align-items: stretch; */

  
}
  .cell-1 video { 
      display: block;

      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      object-position: center;
      opacity: 1.0;
      z-index: 1;
      margin-right: 0;
      padding: 0;
      
  }

  .cell-1 .main-header{
    position: absolute;
    font-size: 5em;
    text-align: center;
    width: 100%;
    margin-top: 25%;
    z-index: 5;
   
  
  }
  
  .cell-1 .main-header, .main-header a{
    color: white;
    line-height: 1.45;
   
  }
  
 .cell-1 .main-header a h1:hover{
    background-color: rgba(0,0,0,0.30);
   
  }
/* #firstHeader{
  margin-top: 4%;
} */

.cell-1 .main-header #secondHeader{
  margin-top: 5%;
font-size: 0.5em;
}
  .filler{
    height: 100vh;
    width: 100vw;
    grid-area: header;
  }



 .cell {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  
}

.container .cell img{
  width: 100%;
  height: auto;
  max-width: 800px;
}

 .cell-2 {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 0.2fr;
     grid-gap: 1rem;
    outline: 1px solid blue;
    grid-area: main;
    justify-items: center;

    
 }

 .cell-2 .cell{
    /* outline: 1px solid white; */
    margin: 0px;
    color: white;
    font-size: 2.5rem;
    text-align: center;

 }

 .cell-3{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-height: 200px;
  grid-gap: 1rem;
  /* outline: 1px solid green; */
  grid-area: right;
  /* margin-left: 20%; */
  justify-items: center;
}

.cell-3 .cell {
  display: block;
  color: white;
  margin: 0px;
  grid-gap: 1rem;
  text-align: center;
  font-size: 2.5rem;
  background: linear-gradient(to right,  rgba(0,0,0,0.0), rgba(0,0,0,1.3));
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  
  }

  .blog-card{
    width: 100%;
    height: auto;
    max-width: 600px;
    display:block;
    
  }

  .description{
    display: block;
    float: right;
    max-width: 80%;
    text-align: center;
    padding: 5%;
    color:white;
    font-size: 0.7em;
    font-family: 'Oswald', sans-serif;
  }

.cell-3 .cell:hover{
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  transform: scale(1.08);
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  }



.cell-3 .cell img{
  display: block;
  float: left;
  max-width: 20%;
  height: auto;
  
}
 .cell-4 {
    outline: 1px solid white;
    grid-area: footer;
 }




/*This is the style guide for the header/navbar from the website url: https://codeconvey.com/responsive-hamburger-menu-css-only/*/

.header{
  font-family: 'Oswald', sans-serif;
  position: relative;
  width: 100%;
  height: auto;
  z-index: 3;
}

.header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a{
  display: block;
  color: black;
  padding: 20px 20px;
  text-decoration: none;
  }

.header li a:hover, .header .menu-btn:hover{
 background-color: rgba(0,0,0,0.30);
}

.header .logo img{
  color: white;
  display: block;
  float: left;
  font-size: 1.5em;
  padding: 12px 20px;
  text-decoration: none;
  width: 30%;
  max-width: 300px;
  height: auto;
}



.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
 
/* menu icon */
 
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;   /*Not sure why this is listed as an error, without it the hamburger menu is doesnt stay on the right*/
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
 
.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: .2s ease-out;
  width: 18px;
}
 
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
 
.header .menu-icon .navicon:before {
  top: 5px;
}
 
.header .menu-icon .navicon:after {
  top: -5px;
}
 
/* menu btn */
 
.header .menu-btn {
  display: none;
}
 
.header .menu-btn:checked ~ .menu {
  max-height: 340px;
}
 
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
 
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
 
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
 
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Responsive */

@media only screen and (max-width: 1520px){
  .cell-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr;
    grid-gap: 1rem;
   outline: 1px solid blue;
   grid-area: main;

   
}
}

@media only screen and (max-width: 1200px){
  .cell-3{
    display: none;
  }
  /* .cell-1{
    display: none;

  }
  .filler{
    display: none;
  } */
}

@media only screen and (max-width: 768px){
  .header ul{
      background-color: #fff;
  }  
  .header li a {
  padding: 15px;
  border-bottom: 1px dotted #ddd;
}
}

@media only screen and (min-width: 900px) {
  .menu-wrapper{
    
      height: 55px;
      line-height: 55px;
      width: 100%;
  }
.header li {
  float: left;
}
  .header .logo{
    line-height: 1;
  }
.header li a {
  color: #fff;
  padding: 0px 30px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);

}
.header .menu {
  clear: none;
  float: right;
  max-height: none;
}
.header .menu-icon {
  display: none;
}


}



/* By default, we tilt all our images -2 degrees */
.polaroids a {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}

/* Rotate all even images 2 degrees */
.polaroids li:nth-child(even) a {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}

/* Don't rotate every third image, but offset its position */
.polaroids li:nth-child(3n) a {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}

/* Rotate every fifth image by 5 degrees and offset it */
.polaroids li:nth-child(5n) a {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  right: 5px;
}

/* Keep default rotate for every eighth, but offset it */
.polaroids li:nth-child(8n) a {
  position: relative;
  top: 8px;
  right: 5px;
}

/* Keep default rotate for every eleventh, but offset it */
.polaroids li:nth-child(11n) a {
  position: relative;
  top: 3px;
  left: -5px;
}
/*The following are style rules for the polaroid effect for hte projects*/

.polaroids li a {
  background: #ffffff;
  /* margin: 55px 75px 30px; */
  margin: 1%;
  padding: 15px 15px 30px;
  display: grid;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .20s linear;
  -moz-transition: all .20s linear;
  transition: all .20s linear;
  z-index: 0;
  position: relative;
}

.polaroids li a:after {
  color: #333;
  font-size: 1.5vw;
  content: attr(title);
  position: relative;
  top: 15px;
  font-family: 'Oswald', sans-serif;
}


.polaroids li a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}